<header class="content__title">
  <h1>Состав эталона</h1>
</header>
<div class="row">
  <div class="col-lg-3">
  <div class="card">
    <div class="card-body">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '1']">Аппаратура высокоточного сличения шкал времени</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '2']">Компаратор фазовый многоканальный VCH-315</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '3']">Стандарт частоты и времени водородный Ч1-1003А/Ч1-1003М</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '4']">Компаратор частотный VCH-314 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '5']">Коммутатор сигналов VCH-603 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '6']">Частотомер универсальный СNT–90 </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '7']">Сервер синхронизации времени ССВ-1Г  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '8']">Табло индикации даты и времени  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '9']">Усилитель сигналов 1 Гц </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/malygin/wiki', '10']">Усилитель сигналов 5 МГц  </a>
        </li>
      </ul>

    </div></div>
</div>

<div class="col-lg-9">
  <div class="card">
    <div class="card-body">
      <img  src="{{imagepath}}">
    </div>
  </div>

  <div class="card">
    <div class="card-body">
{{text}}
    </div>
  </div>
</div>
</div>

