    <header class="content__title">
      <h1>Просмотр каналов устройств</h1>
    </header>

    <div class ="row">              
        <ng-selector-device class="col-lg-12"></ng-selector-device>
  
</div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <smoothed-chart [data]=phase_diff [name]=name_phase_diff></smoothed-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
       <graph-table [data]=phase_diff></graph-table>
      </div>
    </div>
      <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <smoothed-chart [data]=rel_freq_diff [name]=name_rel_freq_diff></smoothed-chart>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <graph-table [data]=rel_freq_diff></graph-table>
         </div>
    </div>
      <div class="row">
          <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <smoothed-chart [data]=curr_var_rel_freq_diff [name]=name_curr_var_rel_freq_diff></smoothed-chart>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
                <graph-table [data]=curr_var_rel_freq_diff></graph-table>
               </div>
            </div>
            <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
      <skdo-chart></skdo-chart>
        </div>
      </div>
    </div>
</div>