<header class="content__title">
  <h1>Настройка</h1>
</header>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">

        <h4 class="card-title">Установка каналов</h4>
        <h6 class="card-subtitle">Описание</h6>
        <main-settings (uploaded)="update()"></main-settings>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Дополнительные настройки</h4>
        <h6 class="card-subtitle">Описание</h6>
        <advanced-settings (uploaded)="update()"></advanced-settings>
      </div>
    </div>
  </div>
</div>

