<header class="content__title">
  <h1>Рабочий эталон</h1>
</header>
<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center" >ОРЧ</h4>
        <smoothed-chart [data]=graphDataSource></smoothed-chart>
      </div>
    </div>

    <graph-table></graph-table>
  </div>



  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center" >СКДО</h4>
        <skdo-chart></skdo-chart>
      </div>
    </div>

    <graph-table></graph-table>

  </div>
</div>



